@font-face {
  font-display: swap;
  font-family: "Shadows Into Light";
  font-style: normal;
  font-weight: 400;
  src:
    url("./fonts/shadows-into-light-v22-latin_latin-ext-regular.woff2")
      format("woff2"),
    url("./fonts/shadows-into-light-v22-latin_latin-ext-regular.ttf")
      format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/libre-baskerville-v24-latin_latin-ext-500.woff2")
    format("woff2");
}

body {
  box-sizing: border-box;
  background-color: #1a1b41;
  background-color: #d1dae0;
  padding: 0;
  margin: 0;
  font-family: "Shadows Into Light", cursive;
  min-height: 100vh;
}

.logo {
  font-family: "Libre Baskerville";
  font-size: 4rem;
  color: #1a1b41;
  text-align: center;
  margin: 2rem;
}

.container {
  background-color: #8b4513;
  box-shadow: 0 12px 10px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  padding: 1rem 2rem 0 2rem;
  max-width: 900px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

nav {
  display: flex;
  gap: 2rem;
  background: repeating-linear-gradient(
    transparent 0 calc(1.2rem - 1px),
    #d1dae0 0 1.2rem
  );
  background-color: #f5f5f0;
  box-shadow:
    0 0 0 6px rgba(255 255 255 / 0.1) inset,
    2px 4px 10px 0 rgba(0 0 0 / 0.025);
  height: 39px;
  padding-inline: 1.25rem;
}

button {
  background: transparent;
  outline: none;
  border: none;
  color: #1a1b41;
  cursor: pointer;
  font-family: "Shadows Into Light";
  font-size: 2rem;
}

button:hover {
  text-decoration: underline;
}

.btn-selected {
  text-decoration: underline;
}

.board {
  background-color: #8b4513;
  box-shadow: 0 12px 10px rgba(0, 0, 0, 0.5);
  min-height: 80vh;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.paper {
  background: repeating-linear-gradient(
    transparent 0 calc(1.2rem - 1px),
    #d1dae0 0 1.2rem
  );
  background-color: #f5f5f0;
  box-shadow:
    0 0 0 6px rgba(255 255 255 / 0.1) inset,
    2px 4px 10px 0 rgba(0 0 0 / 0.025);
  min-height: 75vh;
  margin: 0;
  padding: 1.25rem;
}

.main-heading {
  font-size: 2rem;
  line-height: 2;
  margin-block: 2.15em;
  margin-bottom: 1em;
}

.opening-hours {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  gap: 4rem;
}

.opening-hours > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-img {
  width: 200px;
}

p {
  font-size: 1.2rem;
  color: #1a1b41;
  line-height: 2;
  margin-block: 0;
}

h1,
h2 {
  color: #1a1b41;
  text-align: center;
  margin: 0;
}

@media (max-width: 1000px) {
  .container,
  .board {
    margin-inline: 25px;
  }
}
